:root{
    --verm: #992d2d;
    --cinza: #2F2F2F;
    --bran: #D9DBDA;
    --marr: #6A4334;
    --Preto: #0D0D0D;
    --cinz-bran: #848484;

    --mulish: 'mulish';
    --audiowide: 'audiowide';
}
@media only screen and (max-width: 400px){
    
}

@media only screen and (max-width: 600px){
    
}
@media only screen and (min-width: 600px) {

}
@media only screen and (max-width: 768px) {
    main .section-titulo-main{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 70%);
    }

    main .main-fechar-orcamento{
        flex-direction: column;
        justify-content: center;
    }
    .main-fechar-orcamento .section-lista-itens{
        width: 100%;
        margin-bottom: 70px;
    }
    .lista-itens-titulo:hover, .lista-itens-titulo:hover svg{
        color: var(--Preto);
        stroke: var(--Preto);
    }
    .section-lista-itens .area-lista-itens{
        margin-top: 20px;
    }
    .area-lista-itens button{
        background-color: var(--marr) !important;
        color: var(--bran) !important;
        border-color: var(--marr) !important;
    }

    .main-fechar-orcamento .section-forms-fechar-orcamento{
        width: 100%;
    }
    .section-forms-fechar-orcamento form .div-form{
        grid-template-columns: 100% !important;
    }
    .section-forms-fechar-orcamento button{
        background-color: var(--marr) !important;
        color: var(--bran) !important;
        border-color: var(--marr) !important;
    }
}

/*Dispostivos Médios (Tablets deitados, 768px para cima) */
/* @media only screen and (min-width: 768px) {
    
} */

/* Dispostivos Largos (laptops/desktops, 992px para cima) */
@media only screen and (max-width: 1050px) {
    
}

/* Super Largos (Telas maiores laptops, desktops e até TVs, 1200px para cima) */
/* @media only screen and (min-width: 1200px) {
    
} */